*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.lato-thin, h1, h2, h3{
    font-family: "Lato", sans-serif;
    font-weight: 10;
    font-style: normal;
  }
  
  .lato-light, h1, h2, h3{
    font-family: "Lato", sans-serif;
    font-weight: 10;
    font-style: normal;
  }
  
  .lato-regular, h1, h2, h3{
    font-family: "Lato", sans-serif;
    font-weight: 50;
    font-style: normal;
  }
  

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 20px;
    margin-left: 200px;
}

.navegation{
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-right: 300px;
    align-items: flex-start;

}

html{
    color: #555;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    }

.header{
background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
url('lecture6_img/OmnifoodContents/hero.jpg');
background-size: cover;
height: 100vh;
background-attachment: fixed;
}

.row{
max-width: 1140;
margin: 0 auto;
}

.text-box{
color: white;
font-size: 100%;
font-weight: 300;
width: 1140px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.nav:hover, .nav:active{
    border-bottom: #cf6d17 1px solid;
}

.nav{
    color: #fff;
    border: transparent;
    text-decoration: none;
    margin-left: 20px;
}

.btn{
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
color:#fff;
}

.btn:hover, .btn:active{
background-color: #cf6d17;
}

.btn-full{
    background-color: #e67e22;
    border: 1px #e67e22 solid;
}

.btn-ghost{
    border: 1px solid;
    color: #e67e22;
    transition: color 0.2s;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

h2:after {
    display: block;
    height: 3px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 50px;
}

.tittle{
    margin-top: 50px;
    width: 830px;
    margin-left: 30%;
}

.div-container{
display: flex;
justify-content: center;
}

.div{
    width: 300px ;
    margin: 10px;
}

.icon-big{
font-size: 350%;
display: block;
color: #e67e22;
margin-bottom: 10px;
--ionicon-stroke-width: 20px;

}

.gallery{
margin-top: 30px;
max-width: 15px 0;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 0;
overflow: hidden;
background-color: black;
}

.img{
 flex-wrap: wrap;
height:300px;
opacity: 0.7;
width: 378px;
margin: auto;
transform: scale(1.15);
transition: transform 0.5s, opacity 0.5s;
}

.img:hover{
opacity: 1;
transform: scale(1.00);
}

.phone-app{
    max-width: 1140px;
    align-items: end;
    margin-left: 200px;
}

.phone{
    display: flex;
    width: 20%;
    height: 40%;
   margin-right: 10px;
}

.apps{
    height: 50px;
    width: auto;
   
}

.apps:link, .apps:visited{
   border: 0 ;
}

.apps img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.step{
display: flex;
justify-content: right;
width: 550px;
height: 50px;
}

.step-img{
    display: flex;
   align-items: center;
  justify-content: center;
}

.step123{
    margin-left: 50px;
display: flex;
flex-direction: column;
}

.icon-big2{
    font-size: 350%;
    display: block;
    color: #e67e22;
    
    --ionicon-stroke-width: 20px;
}

.cities, .contact-con{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 15px 0;
/* height: 350px;
width: 800px; */
}

.city-img, .contact{
flex-wrap: wrap;
width: 220px;
height: 160px;
margin: 15px;
}

.icon{
    color: #e67e22;
}

.twit{
    color: #e67e22;
    text-decoration: underline;
}

.twit:hover, .twit:active{
    color: black;
    text-decoration: none;
}

.customers-con{
display: flex;
justify-content: space-around;
align-items: center;

}

.customers{
width: 400px;

}

.body{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
url('lecture6_img/OmnifoodContents/back-customers.jpg');
background-size: cover;
height: 500px;
background-attachment: fixed;
text-align: center;
color: #fff;
}

.custom-img{
    width:50PX ;
    height:50px ;
    border-radius: 50%;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before{
   content:"\201c";
   font-size: 500%;
   display: block;
   position: absolute;
   top: -5px;
   left: -5px;
}

.body2{
    background-color: #f4f4f4;
    text-align: center;
}

.payment-con{
    display: flex;
    justify-content: center;
    align-items: center;

}
.payment{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    min-height: 400px;
    min-width: 320px ;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 1px 1px #cac5c5;
    font-size: 20px;
    text-align: start;
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 10px;
}

.top{
    margin-left: 10px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    height: 150px;
}

.bottom{
    margin-left: 10px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    height: 200px;
}

.sign{
    margin: 10px;
    display: flex;
   justify-content: center;
   align-items: center;
}



.top h1, .month {
    color: #e67e22;
display: inline;
vertical-align: bottom;
font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: #3c3a3a;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
}

.footer-info{
    justify-content: space-around;
    margin-top: 50px;
    color: #777777;
}

.info{
    text-decoration: none;
     margin-left: 5px;
     color: #777777;
}

.info:hover, .info:active{
    color: white;
}

.copyright{
    alig
}